<%-include ("../../partials/header.ejs") %>
<%-include ("../../partials/navbar.ejs") %>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4>Editar categoria</h4>
            </div>
            <div class="card-body">
                <form action="/admin/categorias/update" method="POST">
                    <input type="text" name="title" class="form-control mt-3" value="<%= categoria.title %> "
                        placeholder="Defina a categoria" required>
                    <input type="hidden" name="id" value="<%= categoria.id %>">
                    <button type="submit" class="btn btn-success mt-3">Editar categoria</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%-include ("../../partials/footer.ejs") %>