<%-include ("../../partials/header.ejs") %>
<%-include ("../../partials/navbar.ejs") %>

<div class="container">
    <h4>Categorias</h4>
    <a href="/admin/categorias/new"><button class="btn btn-success"> Adicionar Categoria</button></a>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Slug</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <% categorias.forEach((categoria) =>{ %>
            <tr>
                <th><%= categoria.id %> </th>
                <th><%= categoria.title %> </th>
                <th><%= categoria.slug %> </th>
                <th>
                    <button class="btn btn-warning fa fa-pencil "> Editar </button>
                    <form action="/admin/categorias/delete" method="post" style="display:inline" onsubmit="confirmaDelete(event, this)">
                        <input type="hidden" name="id" value="<%= categoria.id %>">
                        <button class="btn btn-danger fa fa-trash">Delete </button>
                    </form>
                </th>
            </tr>
            <% }) %>
        </tbody>
    </table>


</div>
<%-include ("../../partials/footer.ejs") %>

<script>
    function confirmaDelete(event, form){
        event.preventDefault();
        console.log("O formulario nao foi enviado ou seja deletado")

        var confirmacao = confirm("TEM CERTEZA QUE DESEJA DELETAR?")
        if(confirmacao){
            form.submit();
        }else{
            console.log("nao quero deletar foi ingano")
        }

    }
</script>