<%-include ("../../partials/header.ejs") %>
<%-include ("../../partials/navbar.ejs") %>

<div class="container">
    <h4>Artigos</h4>
    <a href="/admin/artigos/new"><button class="btn btn-success"> Adicionar artigo</button></a>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Slug</th>
                <th>Catetoria</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <% artigos.forEach(artigo => { %>
            <tr>
                <th><%= artigo.title %> </th>
                <th><%= artigo.slug %> </th>
                <th><%= artigo.category.title %> </th>
                <th>

                    <a href="/admin/artigos/edit/<%= artigo.id %>" >
                        <button class="btn btn-warning fa fa-pencil"> Editar </button>
                    </a>
                    <form action="/admin/artigos/delete" method="POST" onsubmit="confirmaDelete(event, this)" style="display:inline">
                        <input type="hidden" name="id" value="<%= artigo.id %>">
                        <button class="btn btn-danger fa fa-trash"></button>
                    </form>
                </th>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%-include ("../../partials/footer.ejs") %>

<script>
    function confirmaDelete(event, form) {
        event.preventDefault();
        console.log("O formulario nao foi enviado ou seja deletado")

        var confirmacao = confirm("TEM CERTEZA QUE DESEJA DELETAR?")
        if (confirmacao) {
            form.submit();
        } else {
            console.log("nao quero deletar foi ingano")
        }

    }
</script>