<%-include ("../../partials/header.ejs") %>
<%-include ("../../partials/navbar.ejs") %>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4>Novo de artigo</h4>
            </div>
            <div class="card-body">
                <form action="/admin/artigos/save" method="POST">
                    <input type="text" name="title" class="form-control mt-3" placeholder="Defina o nome do artigo" required>
                    <br>
                    <textarea name="body" id="artigo" class="form-control"></textarea>
                    <label for="categoria">Categorias:</label>
                    <select name="category" id="categoria" class="custom-select">
                        <% categorias.forEach(categoria => { %>
                            <option value="<%= categoria.id %>"> <%= categoria.title %> </option>
                        <% }) %>
                    </select>

                    <button type="submit" class="btn btn-success mt-3">Adicionar categoria</button>

                </form>
            </div>
        </div>
    </div>
</body>

<%-include ("../../partials/footer.ejs") %>

<script src="/tinymce/tinymce.min.js"></script>

<script>
    tinymce.init({
        language: 'pt_BR',
        selector: '#artigo',
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    });
</script>